{:deps true
 :nrepl {:port 7890}
 :dev-http {3010 "public"}
 :builds
 {:dev
  {:target      :browser
   :output-dir  "public/js"
   :asset-path  "/js"
   :module-loader true
   :modules
   {:app-core
    {:entries [app.core
               app.lazy.reagent-counter
               app.lazy.uix-counter
               app.lazy.replicant-counter
               app.lazy.shared-reagent
               app.lazy.shared-uix]
     :init-fn app.core/init}
    :app-reagent
    {:entries    [app.components.reagent-counter]
     :depends-on #{:app-core}}
    :app-uix
    {:entries    [app.components.uix-counter]
     :depends-on #{:app-core}}
    :app-replicant
    {:entries    [app.components.replicant-counter]
     :depends-on #{:app-core}}
    :app-chart
    {:entries    [app.components.counter-chart]
     :depends-on #{:app-core}
     :init-fn    app.components.counter-chart/init!}
    :app-mixed
    {:entries    [app.state
                  app.components.shared-reagent
                  app.components.shared-uix
                  app.components.shared-replicant
                  app.components.reagent-hosts-replicant
                  app.components.uix-hosts-replicant
                  app.components.replicant-hosts-reagent]
     :depends-on #{:app-reagent :app-uix :app-replicant}}}}

  :release
  {:target      :browser
   :output-dir  "../../../gersak.github.io/articles/multi-framework/js"
   :asset-path  "/articles/multi-framework/js"
   :module-loader true
   :modules
   {:app-core
    {:entries [app.core
               app.lazy.reagent-counter
               app.lazy.uix-counter
               app.lazy.replicant-counter
               app.lazy.shared-reagent
               app.lazy.shared-uix
               app.lazy.shared-replicant
               app.lazy.reagent-hosts-replicant
               app.lazy.uix-hosts-replicant
               app.lazy.replicant-hosts-reagent]
     :init-fn app.core/init}
    :app-reagent
    {:entries    [app.components.reagent-counter]
     :depends-on #{:app-core}}
    :app-uix
    {:entries    [app.components.uix-counter]
     :depends-on #{:app-core}}
    :app-replicant
    {:entries    [app.components.replicant-counter]
     :depends-on #{:app-core}}
    :app-chart
    {:entries    [app.components.counter-chart]
     :depends-on #{:app-core}
     :init-fn    app.components.counter-chart/init!}
    :app-mixed
    {:entries    [app.state
                  app.components.shared-reagent
                  app.components.shared-uix
                  app.components.shared-replicant
                  app.components.reagent-hosts-replicant
                  app.components.uix-hosts-replicant
                  app.components.replicant-hosts-reagent]
     :depends-on #{:app-reagent :app-uix :app-replicant}}}
   :compiler-options
   {:optimizations :advanced
    :infer-externs :auto}}}}
